* {
  margin: 0;
  padding: 0;
}
.main-container {
  margin: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  max-width: 100%;
  height: auto;
  column-gap: 0.5rem;
 
}

