* {
  margin: 0;
  padding: 0;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-items: center;
}
.card {
  width: 150px;
  height: 180px;
  position: relative;
}
.card img {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.4s ease;
}

.front {
  transform: rotateY(180deg);
  z-index: 2;
}
.card.flipped .front {
  transform: rotateY(0);
}
.back {
  transform: rotateY(0deg);
  z-index: 1;
}
.card.flipped .back {
  transform: rotateY(180deg);
}
